<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

{#- Macro definitions -#}
{% macro legend_row(row_class, field, field_desc) -%}
    <tr class="{{ row_class }}" style="text-align: center;">
        <td class="{{ field }}">arch ({{ abbrs[field] }})</td>
        <td style="text-align: left;">{{ field_desc }}</td>
        {% for arch in arch_list -%}
            {% if stats[field][arch].cnt -%}
                <td onmouseover="Tip('{{ stats[field][arch].tooltip|e }}')"
                    onmouseout="UnTip()">
                    {{ stats[field][arch].cnt }}
                </td>
            {% else -%}
                <td />
            {% endif -%}
        {%- endfor %}
    </tr>
{%- endmacro %}

{% macro table(packages, packageset=None, set_tooltip='Belongs to a packageset?') -%}
    {% if packages|count > 0 -%}
        <table class="grid" width="100%">
            <colgroup>
                <col width="25%" />
                <col width="24%" />
                <col width="2%" />
                <col width="8%" span="{{ arch_list|count }}" />
                <col width="6%" />
                <col width="6%" />
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2">Package</th>
                    <th rowspan="2">Version</th>
                    <th rowspan="2" onmouseover="Tip('{{ set_tooltip }}')"
                        onmouseout="UnTip()">Set?</th>
                    {% if archs_by_archive['main'] %}
                    <th colspan="{{ archs_by_archive['main']|count }}" class="center">Main archive</th>
                    {% endif %}
                    {% if archs_by_archive['ports'] %}
                    <th colspan="{{ archs_by_archive['ports']|count }}" class="center">Ports archive</th>
                    {% endif %}
                    <th rowspan="2"/>Bugs</th>
                    <th rowspan="2"/>
                </tr>
                <tr>
                    {% for arch in arch_list -%}
                        <th class="center">{{ arch }}</th>
                    {%- endfor %}
                </tr>
            </thead>
            <tbody>
                {% for pkg in packages -%}
                    {% set pkg_loop = loop -%}
                    {% for ver in pkg.versions -%}
                        <tr class="{{ pkg_loop.cycle('even', 'odd') }}" style="text-align: center;">
                            {% if loop.first -%}
                                <td style="text-align: left;" rowspan="{{ pkg.versions|count }}">
                                    <a href="{{ pkg.url }}">{{ pkg.name }}</a>
                                </td>
                            {%- endif %}
                            <td style="text-align: left;" onmouseover="Tip('{{ ver.getChangedBy()|e }}')" onmouseout="UnTip()">
                                <a href="{{ pkg.url }}/{{ ver.version }}">{{ ver.version }}
                                    {%- if ver.pocket != 'Release' %} ({{ ver.pocket }}){% endif -%}
                                </a>
                            </td>
                            {%- if loop.first %}
                                {%- if pkg.getPackagesets(packageset)|count > 0 %}
                                    <td rowspan="{{ pkg.versions|count }}"
                                        onmouseover="Tip('{{ pkg.getPackagesets(packageset)|sort|join(', ') }}')"
                                        onmouseout="UnTip()">&#10003;</td>
                                {% else -%}
                                    <td rowspan="{{ pkg.versions|count }}" />
                                {% endif -%}
                            {% endif -%}
                            {% for arch in arch_list -%}
                                {% if arch in ver.logs -%}
                                    <td class="{{ ver.logs[arch].buildstate }}"
                                        onmouseover="Tip('{{ ver.logs[arch].tooltip|e }}')" onmouseout="UnTip()">
                                        <a href="{{ ver.logs[arch].url }}">{{ arch }} ({{ abbrs[ver.logs[arch].buildstate] }})</a>
                                        &rarr;
                                        <a href="{{ ver.logs[arch].log }}">Log</a>
                                    </td>
                                {% else -%}
                                    <td />
                                {%- endif %}
                            {%- endfor %}
                            {% if loop.first -%}
                                <td rowspan="{{ pkg.versions|count }}">
                                    {% for bug in pkg.tagged_bugs %}
                                        <a href="https://launchpad.net/bugs/{{ bug.id }}"
                                           title="{{ bug.title }}">
                                           {{ bug.id }}
                                        </a>
                                    {%- endfor %}
                                </td>
                                <td rowspan="{{ pkg.versions|count }}">
                                    <a href="http://packages.qa.debian.org/{{ pkg.name }}">PTS</a>
                                    <a href="http://bugs.debian.org/src:{{ pkg.name }}">BTS</a>
                                </td>
                            {%- endif %}
                        </tr>
                    {%- endfor %}
                {%- endfor %}
            </tbody>
        </table>
    {%- endif %}
{%- endmacro %}

{#- Main template -#}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>Build status for {{ series.fullseriesname }} in {{ archive.displayname }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="source/style.css" />
</head>

<body>
    <script type="text/javascript" src="source/wz_tooltip.js"></script>
    <h1 id="top">Build status for {{ series.fullseriesname }} in {{ archive.displayname }}</h1>

    <p>Jump to:
        <a href="#main">main</a> ({{ main|count }})
        <a href="#restricted">restricted</a> ({{ restricted|count }})
        <a href="#universe">universe</a> ({{ universe|count }})
        <a href="#multiverse">multiverse</a> ({{ multiverse|count }})
    </p>

    <p>Jump to packageset:
        {% for (ps, lst) in packagesets.items()|sort if lst|count > 0 -%}
        <a href="#{{ ps }}">{{ ps }}</a> ({{ lst|count }})
        {% endfor -%}
    </p>
    <p>Jump to team:
        {% for (team, lst) in teams.items()|sort if lst|count > 0 -%}
        <a href="#{{ team }}">{{ team }}</a> ({{ lst|count }})
        {% endfor -%}
    </p>

    {% if notice %}
    {{ notice }}
    {% endif %}

    <h2>Legend and statistics for the displayed data</h2>
    <table class="grid" width="95%">
        <colgroup>
            <col width="6%" />
            <col width="45%" />
            <col width="8%" span="{{ arch_list|count }}" />
        </colgroup>
        <thead>
            <tr>
                <th colspan="2" rowspan="2">Failure type</th>
                {% if archs_by_archive['main'] %}
                <th colspan="{{ archs_by_archive['main']|count }}" class="center">Main archive</th>
                {% endif %}
                {% if archs_by_archive['ports'] %}
                <th colspan="{{ archs_by_archive['ports']|count }}" class="center">Ports archive</th>
                {% endif %}
            </tr>
            <tr>
                {% for arch in arch_list -%}
                <th class="center">{{ arch }}</th>
                {%- endfor %}
            </tr>
        </thead>
        <tbody>
            {{ legend_row('even', 'FAILEDTOBUILD', 'Package failed to build') }}
            {{ legend_row('odd', 'CANCELLED', 'Cancelled build') }}
            {{ legend_row('odd', 'MANUALDEPWAIT', 'Package is waiting on another package') }}
            {{ legend_row('even', 'CHROOTWAIT', 'Failure in the chroot') }}
            {{ legend_row('odd', 'UPLOADFAIL', 'Failed to upload') }}
        </tbody>
    </table>

    <h2 id="main">main: {{ main|count }} packages (<a href="#top">top</a>)</h2>
    {{ table(main) }}

    <h2 id="restricted">restricted: {{ restricted|count }} packages (<a href="#top">top</a>)</h2>
    {{ table(restricted) }}

    <h2 id="universe">universe: {{ universe|count }} packages (<a href="#top">top</a>)</h2>
    {{ table(universe) }}

    <h2 id="multiverse">multiverse: {{ multiverse|count }} packages (<a href="#top">top</a>)</h2>
    {{ table(multiverse) }}

    <h2>Packagesets</h2>
    {% for (ps, lst) in packagesets.items()|sort if lst|count > 0 -%}
        <h3 id="{{ ps }}">{{ ps }}: {{ lst|count }} packages (<a href="#top">top</a>)</h3>
        {{ table(lst, ps, 'Also belongs to another packageset?') }}
    {% endfor -%}

    <h2>Teams (main only)</h2>
    {% for (team, lst) in teams.items()|sort if lst|count > 0 -%}
        <h3 id="{{ team }}">{{ team }}: {{ lst|count }} packages (<a href="#top">top</a>)</h3>
        {{ table(lst, team, 'Also belongs to another team?') }}
    {% endfor -%}

    {% if main_archive %}
    <h2 id="main_superseded">main (superseded): {{ main_superseded|count }} packages (<a href="#top">top</a>)</h2>
    {{ table(main_superseded) }}

    <h2 id="restricted_superseded">restricted (superseded): {{ restricted_superseded|count }} packages (<a href="#top">top</a>)</h2>
    {{ table(restricted_superseded) }}

    <h2 id="universe_superseded">universe (superseded): {{ universe_superseded|count }} packages (<a href="#top">top</a>)</h2>
    {{ table(universe_superseded) }}

    <h2 id="multiverse_superseded">multiverse (superseded): {{ multiverse_superseded|count }} packages (<a href="#top">top</a>)</h2>
    {{ table(multiverse_superseded) }}
    {%- endif %}

    <hr/>
    <p style="font-size:smaller">Last update: {{ lastupdate }}</p>
    <p>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml11-blue"
        alt="Valid XHTML 1.1" height="31" width="88"
        style="border-width:0px" /></a>
    </p>
    <p style="font-size:smaller">Source: <a href="https://code.launchpad.net/~wgrant/lp-ftbfs-report/production">lp:~wgrant/lp-ftbfs-report/production</a></p>
</body>
</html>
